.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    overflow: hidden;
}

.cartSide {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.goBack {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgb(100, 100, 100);
    cursor: pointer;
    padding-bottom: 15px;
    border-radius: 4px;
    border-bottom: 1px solid rgb(100, 100, 100, 0.2);
}

.header {
    font-weight: 600;
    font-size: 1.4rem;
}

.cartSection {
    padding: 0;
}

.cartContent {
    margin-top: 25px;
    height: 80%;
}

.itemCards {
    height: 100%;
    overflow-y: scroll;
}

.itemCards::-webkit-scrollbar {
    display: none;
}

.cartCount {
    font-size: 13px;
    margin-top: 3px;
    padding-bottom: 10px;
    color: rgb(100, 100, 100);
}

.emptyCart {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
}