.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    overflow: hidden;
}

.cacheMethod {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgb(100, 100, 100, 0.2);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.cacheMethod:hover {
    transform: scale(1.05);
}

.cartSide {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.goBack {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgb(100, 100, 100);
    cursor: pointer;
    padding-bottom: 15px;
    border-radius: 4px;
    border-bottom: 1px solid rgb(100, 100, 100, 0.2);
}

.header {
    font-weight: 600;
    font-size: 1.4rem;
}

.cartSection {
    padding: 0;
}

.cartContent {
    margin-top: 25px;
    height: 80%;
}

.itemCards {
    height: 100%;
    overflow-y: scroll;
}

.itemCards::-webkit-scrollbar {
    display: none;
}

.cartCount {
    font-size: 13px;
    margin-top: 3px;
    padding-bottom: 10px;
    color: rgb(100, 100, 100);
}

.emptyCart {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
}

@media (max-width:1400px) {
    .cartSide {
        width: 60%;
    }
}

@media (max-width:1100px) {
    .cacheMethod {
        display: none;
    }
}

@media (max-width:900px) {
    .cacheMethod {
        display: block;
        position: static;
        width: 90px;
        text-align: center;
        margin-left: calc(100% - 110px);
        margin-bottom: -45px;
    }

    .container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .container::-webkit-scrollbar {
        display: none;
    }

    .cartSide {
        width: 95%;
        margin: auto;
    }
}

@media (max-width:600px) {
    .cartSide {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width:350px) {
    .cacheMethod {
        margin-bottom: -25px;
    }
}