.orderSummary {
    background-color: #5358b3;
    height: 100%;
    width: 30%;
    border-radius: 20px;
    padding: 25px;
    color: white;
    position: relative;
}

.coupons {
    margin-top: 15px;
}

.couponHeader {
    font-size: 12px;
}

.couponOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    flex: 1;
    gap: 10px;
    padding-bottom: 20px;
}

.discountCouponContainer {
    position: relative;
}

.discountCoupon {
    border: 1px solid white;
    border-radius: 10px;
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

/* .discountCouponContainer:hover .discountCoupon {
    border: 1px solid white;
} */

.couponOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.discountCouponContainer:hover .couponOverlay {
    opacity: 1;
}

.couponText {
    color: white;
    font-size: 13px;
}

.activeDiscount {
    border: 2px solid rgb(237, 178, 100);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
}

.checkoutAmount {
    border-top: 1px solid rgba(255, 255, 255, 0.375);
    padding-top: 20px;
}

.total, .delivery, .discount, .totalAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin: 3px 0;
}

.totalAmount {
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.375);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.375);
}

.checkoutButton {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 50px);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #2ebd2e;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.checkoutButton:hover {
    transform: scale(1.01);
}

.buttonCheckout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trackButton {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 50px);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.trackButton:hover {
    transform: scale(1.01);
}

.paymentMethod {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    box-shadow: 0 0 10px rgba(142, 144, 144, 0.3);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(200, 206, 214, 0.3);
    align-items: center;
}

@media (max-width:1400px) {
    .orderSummary {
        width: 40%;
    }

}

@media (max-width:1100px) {
    .orderSummary {
        background-color: rgb(200, 206, 214, 0.3);
        color: black;
    }

    .checkoutAmount {
        border-top: 1px solid rgba(0, 0, 0, 0.375);
        /* padding-top: 5px; */
    }

    .totalAmount {
        border-top: 1px dashed rgba(0, 0, 0, 0.375);
        border-bottom: 1px dashed rgba(0, 0, 0, 0.375);
    }
}

@media (max-width:900px) {
    .orderSummary {
        width: 95%;
        margin: auto;
        height: fit-content;
    }

    .checkoutAmount {
        padding-top: 5px;
    }

    .checkoutButton, .trackButton {
        position: static;
        width: 100%;
        margin-top: 40px;
    }


}

@media (max-width:600px) {
    .orderSummary {
        width: 100%;
        padding: 25px 15px;
    }
}